


    body{
        font-family: Arial, Helvetica, sans-serif;
        background-image: url("../../img/fondouni.jpg");
        
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
 
      }
     #arribs{
         background-color: black;
         align-content: center;
        
     }
#div-foto{
    float: left;
}
#datos{
    border-radius: 5px;
    display:inline-block;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    
    margin-left:auto;
    margin-right:auto;
    border: 3px solid #00315F;
    margin-top: 100px;
}

#principal{
    text-align: center;
}
#div-matricula{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    
    border-radius: 5px;
    
    padding: 20px;
    
  
    border: 3px solid #00315F;
    margin-top: 40px;
}
#datos1{
    margin-left: 10px;
    text-align: left;
    float: left;
}
#datos2{
    margin-left: 100px;
    text-align: left;
    float: left;
}
.selecciones
{
    margin-right: 30px;
}
.boton-matricular{
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFCA0B;
}
#mostrarasignaturas{
    
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px;
    border: 3px solid #00315F;
    margin-top: 40px;
}

.afixed{
    -webkit-text-stroke: orange;
    -webkit-text-stroke-width: medium;
    color: black;
}

.btnad{
    color: #fff;
    background-color: #01315F;
    border-color: #01315F;
      
}
      
.btnad:hover{
        background-color:orange;
      }
#agregar-clases
{
    margin: 20px;
        background-color: #01315F;
        color: white;  /*/cdeja el estilo aca */

}
#principal{
    text-align: center;
}
